# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest

    # Service containers to run with `container-job`
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres
        # Provide the username, password and DB_name for postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: 123
          POSTGRES_DB: credit-conveyor-db
        # Maps tcp port 5432 on service container to the host
        ports:
          - 5432:5432

        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up JDK 1.11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11

      - name: Build MS-application with Maven
        run: mvn -B clean package --file ./application/pom.xml

      - name: Build MS-conveyor with Maven
        run: mvn -B clean package --file ./conveyor/pom.xml

      - name: Build MS-deal with Maven
        run: mvn -B clean package --file ./deal/pom.xml

      - name: Build MS-dossier with Maven
        run: mvn -B clean package --file ./dossier/pom.xml

      - name: Build MS-gateway with Maven
        run: mvn -B clean package --file ./gateway/pom.xml